/* Selector universal */
/*
* {
   margin:"0";
    padding:"0"; 
    font-family: Arial, Helvetica, sans-serif;
} 
*/

/*Selector por etiqueta*/
h2 {
    color:blue;
    font-size: 16px;
}

/*Selector por clase*/
.nav-links{
    list-style: none;
} /*Para que la lista de enlaces no tenga puntitos ni cuadrados.*/

/*Selector por id*/
#logo {
    font-weight: bold;
} /* Para que el tamaño de la fuente sea más grande.*/



.nav-links-a{
    color: deepskyblue!important;
}

#link-tendencias{
    color: chartreuse;
} 
