/* La pseudoclase :root {] representa al elemento html y, 
    por ejemplo, nos permite declarar variable en css.
    Una variable se declara dentro de la pseudoclase :root 
    de la siguiente manera --nombre-de-la-variable: valor
    y se referencia como un valor con la función var(--nombre-de-la-variable);
    en distintas propiedades.*/

    :root{
        --bg-color:#181419; 
        --primary-color:#9f3647;
        --secondary-color: #ffc098;
        --third-color: #db4649;
        --third-bis-color: #db4648f2;
        --bg-input-color: #4f31572c;    
    }

/* Selector universal */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Nunito', 'Sans-serif';
} 

body{
    background-color: var(--bg-color);
}

a { /*Para sacar el subrayado de los enlaces: */
    text-decoration: none;

}

/*Selector por etiqueta*/
h2 {
     color:#FFF;
     font-size: 2vw; /* 2% del ancho de la ventana gráfica. */
}

/*Selector por clase*/
.nav-links{
    list-style: none;
} /*Para que la lista de enlaces no tenga puntitos ni cuadrados.*/

/*Selector por id*/
#logo {
    /* Para que el tamaño de la fuente sea más grande: */
    font-weight: bold; 
} 

#banner{
    background-image: url('../img/banner-bg.jpg');
    background-size: cover; /* para cubrir el espacio del elemento. */
    background-position: center;
    height: 60vh; /* 60% del alto de la ventana gráfica. */
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;

    /* max-height: 800; */

    /* Relleno o espaciado: */
    /* padding: 50px 20px; */
   
    /* Márgenes: */
    /* margin: 20px; */

   /* Bordes: */
   /* border: 10px solid saddlebrown; */
   /* border-width: 5px 10px; t/b l/r*/
   /* border-width: 5px 10px 15px; t l/r b*/
   /* border-width: 5px 10px 15px 20 px;
   border-style: solid;
   border-color: saddlebrown */
   
}

.btn-cac{
    background-color: var(--primary-color);
    padding: 10px;
    color:#FFF;
    border-radius: 10px;
    /* Para que el botón tenga el símbolo del dedito al seleccionarlo: */
    cursor: pointer;
}